body {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  top: "100px";
}

.Container {
  background: linear-gradient(
    to right,
    #f9d423,
    #ff4e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: absolute;
  left: 38%;
  margin-top: "100px";
  width: "200px";
  text-align: center;
  align-items: center;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid black;
}

#txtInput {
  width: 200px;
  height: 100px;
}

#texspeech {
  font-family: "Times New Roman", Times, serif;
}
